@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  direction: rtl;
}

@font-face {
  font-family: "kalameh";
  src: url(../public/fonts/kalameh/KalamehBlack.ttf) format(.ttf);
}
@font-face {
  font-family: "iranSans";
  src: url(../public/fonts/iransanX/IRANSansXFaNum-Black.otf) format(.otf);
  font-family: "iranSans2";
  src: url(../public/fonts/iransanX/IRANSansXFaNum-Bold.otf) format(.otf);
}
body {
  font-family: "iranSans";
}
