@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  direction: rtl;
}

@font-face {
  font-family: "kalameh";
  src: url('../public/fonts/kalameh/Kalameh\(FaNum\)-Medium.ttf') ;
}
@font-face {
  font-family: "kalameh-Bold";
  src: url('../public/fonts/kalameh/Kalameh\(FaNum\)-Bold.ttf') ;
}
@font-face {
  font-family: "iranSans";
  src: url('../public/fonts/iransanX/IRANSansXFaNum-Regular.otf') ;
}
@font-face {
  font-family: "iranSans-Black";
  src: url('../public/fonts/iransanX/IRANSansXFaNum-Black.otf') ;
}
@font-face {
  font-family: "iranSans-Bold";
  src: url('../public/fonts/iransanX/IRANSansXFaNum-Bold.otf') ;
}
@font-face {
  font-family: "iranSans-DemiBold";
  src: url('../public/fonts/iransanX/IRANSansXFaNum-DemiBold.otf') ;
}
@font-face {
  font-family: "iranSans-ExtraBold";
  src: url('../public/fonts/iransanX/IRANSansXFaNum-ExtraBold.otf') ;
}
@font-face {
  font-family: "iranSans-Light";
  src: url('../public/fonts/iransanX/IRANSansXFaNum-Light.otf') ;
}
@font-face {
  font-family: "iranSans-Medium";
  src: url('../public/fonts/iransanX/IRANSansXFaNum-Medium.otf') ;
}
@font-face {
  font-family: "iranSans-UltraLight";
  src: url('../public/fonts/iransanX/IRANSansXFaNum-UltraLight.otf') ;
}
@font-face {
  font-family: "iranSans-Thin";
  src: url('../public/fonts/iransanX/IRANSansXFaNum-Thin.otf') ;
}

body {
  font-family: 'iranSans';
}
@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
